---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Programs from '../components/Programs.astro';
import Stats from '../components/Stats.astro';
import Features from '../components/Features.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <Programs />
    <Stats />
    <Features />
    <Testimonials />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</Layout>
